<app-modal-form 
    *ngIf="response.toggleModal" 
    (closeEvent)="closeModal()" 
    [message]="response.message"
    [title]="response.title"
    [type]="response.type">
</app-modal-form>
<div class="contact-section p-4">
    <div class="container content p-4">
        <div class="col-lg-12 contact-box">
            <h1 class="text-center">Vamos começar?</h1>
            <br>
            <hr>
            <br>
            <p class="text-center">Preencha o formulário abaixo e otimize a gestão financeira da sua empresa com a Conta Aqui!</p>
            <div class="row m-0">
                <div class="col-lg-6 contact-form">
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" [(ngModel)]="name" [value]="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" [(ngModel)]="email" [value]="email">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>WhatsApp</mat-label>
                        <input matInput type="tel" [(ngModel)]="tel" [value]="tel">
                    </mat-form-field>
                    <button class="btn-full-purple mb-3" (click)="sendBody()">QUERO COMEÇAR</button>
                    <span class="text-center">Endereço: R. Martim Afonso, 213 - Cj. 8 A 13 - Centro <br>
                        São Vicente/SP - Cep: 11310-010</span>
                    <div class="icons row">
                        <div class="icon">
                            <a href=""> 
                                <i class="fab fa-facebook-f icon-lg fb"></i>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">                                
                                <i class="fab fa-twitter icon-lg tt"></i>
                            </a>
                        </div>
                        <div class="icon"> 
                            <a href="">                                
                                <i class="fab fa-instagram icon-lg ig"></i>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">                                
                                <i class="fab fa-linkedin-in icon-lg in"></i>
                            </a>
                        </div>  
                        <div class="icon">
                            <a href="">                                
                                <i class="fab fa-youtube icon-lg yt"></i>
                            </a>
                        </div>  
                        <div class="icon">
                            <a href="https://wa.me/551334683451">                                
                                <i class="fab fa-whatsapp icon-lg wpp"></i>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>