<div class="contact-section p-4">
    <div class="container content p-4">
        <div class="col-lg-12 contact-box">
            <h1 class="text-center">Vamos começar?</h1>
            <br>
            <hr>
            <br>
            <p class="text-center">Preencha o formulário abaixo e otimize a gestão financeira da sua empresa com a Conta Aqui!</p>
            <div class="row">
                <div class="col-lg-6 contact-form">
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>WhatsApp</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button class="btn-full-purple mb-3">QUERO COMEÇAR</button>
                    <span class="text-center">Endereço: Rua Lorem Ipsum, nº 000, Lorem Ipsum – Ipsum – LI</span>
                    <div class="icons">
                        <div class="icon">
                            <a href=""> 
                                <i class="fab fa-facebook-f icon-lg"></i>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">                                
                                <i class="fab fa-twitter icon-lg"></i>
                            </a>
                        </div>
                        <div class="icon"> 
                            <a href="">                                
                                <i class="fab fa-instagram icon-lg"></i>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">                                
                                <i class="fab fa-linkedin-in icon-lg"></i>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>