<div class="container-modal">    
    <div class="modal">
        <div class="icon">
            <i [class]="type == 'SUCCESS' ? 'fas fa-check' : 'fas fa-times'"></i>
        </div>
        <h2 class="mb-3 mt-3">{{ title }}</h2>
        <p class=" mb-3">{{ message }}</p>
        <div class="text-center">
            <button class="btn-full-purple" (click)="closeModal()">
                Fechar
            </button>
        </div>

    </div>

    <div class="fake-bg" (click)="closeModal()"></div>

</div>