<div class="bg-purple first-section p-4">
    <div class="container content p-4">
        <h1>Como Funciona</h1>
        <p>O BPO Financeiro foi criado para facilitar a rotina <br> financeira das empresas. Veja como esse serviço funciona!</p>
    </div>
</div>
<div class="second-section p-4">
    <div class="container content p-4">
        <div class="row m-0">
            <div class="col-lg-12">
                <h1 class="text-center mb-4">O passo a passo da Conta Aqui!</h1>
                <hr>
                <p class="text-center mt-4">Assumiremos a gestão financeira da sua organização, possibilitando que você e seus colaboradores foquem no crescimento e em outras áreas essenciais, deixando todo o estresse burocrático com a gente. Veja o passo a passo!</p>
                <div class="box-passo p-4 mt-5">
                    <p class="titulo">Passo 1 - Fotos dos documentos financeiros da sua empresa</p>
                    <br>
                    <span>
                        Você nos envia as fotos dos boletos, contas e outros documentos financeiros e deixa o resto com a gente. Iremos registrar todas as informações na plataforma, realizando um monitoramento diário de suas cobranças, recebíveis, baixas e registros, deixando-o por dentro de tudo que acontece em tempo real.
                    </span>
                </div>
                <div class="box-passo p-4 mt-5">
                    <p class="titulo">Passo 2 - Emissão de seus boletos e notas fiscais</p>
                    <br>
                    <span>
                        Encaminhe-nos os dados de cobrança e notas fiscais para realizarmos a emissão dos boletos e envio aos seus clientes. É possível ainda você optar por enviar lembretes automáticos aos clientes inadimplentes, reduzindo o tempo perdido com cobranças.
                    </span>
                </div>
                <div class="box-passo p-4 mt-5">
                    <p class="titulo">Passo 3 - Auditoria dos recebíveis de cartões</p>
                    <br>
                    <span>
                        Por diversas vezes, os adquirentes não repassam os valores integrais ou cobram taxas não estipuladas em contratos. Com a auditoria de recebíveis, você saberá se as taxas estão conforme o contrato e ainda, faremos o apontamento de cada venda que não for creditada para a empresa.
                    </span>
                </div>
                <div class="box-passo p-4 mt-5">
                    <p class="titulo">Passo 4 - Conciliação bancária</p>
                    <br>
                    <span>
                        Tenha acesso total aos controles de contas a pagar, a receber e fluxo de caixa, tudo isso atualizado diariamente, aproveitando os benefícios dessa organização para uma melhor tomada de decisões na sua empresa.
                    </span>
                </div>
                <div class="box-passo p-4 mt-5">
                    <p class="titulo">Passo 5 - Relatórios práticos e detalhados</p>
                    <br>
                    <span>
                        Visualize relatórios práticos, detalhados e claros em tempo real, sobre tudo o que acontece com a gestão financeira da sua empresa.
                    </span>
                </div>
                <div class="box-passo p-4 mt-5">
                    <p class="titulo">Passo 6 - Documentação compartilhada com o seu contador</p>
                    <br>
                    <span>
                        Você não precisa se preocupar em enviar diversas informações para nós e depois para o seu contador. Para facilitar a sua vida, iremos compartilhar cópias de todos os documentos utilizados nas movimentações financeiras mensais.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="third-section bg-purple p-4">
    <div class="container content p-4">
        <div class="col-lg-12 row m-0">
            <div class="col-lg-8">
                <p class="text-white font-bold mb-2">PERSONALIZADO PARA SUA EMPRESA</p>
                <span class="text-white">
                    Ainda está com dúvidas? Acredita que esse modelo não serve para seu nicho de negócio? Não tem problemas, podemos adaptá-lo para você, atendendo suas reais necessidades. Fale com a nossa equipe e veja como podemos fazer isso!
                </span>
            </div>
            <div class="col-lg-4 text-center flex align-items-center justify-content-center">
                <button class="btn-border-purple">
                    QUERO SABER MAIS!
                </button>
            </div>
        </div>
    </div>
</div>
<div class="four-section">
    <div class="container content p-4">
        <div class="row">
            <div class="col-lg-6 flex align-items-center">
                <img src="../../../assets/images/como-funciona.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <span>
                    Faremos o trabalho de estruturar externamente o departamento financeiro da sua empresa. Com os diversos serviços inclusos, como relatórios financeiros, análise de desempenho, conciliação bancária e muitos outros, você terá mais   tempo para uma análise calma e uma melhor tomada de decisão, direcionando sua empresa para o caminho do sucesso.
                </span>
                <div class="flex align-items-center mb-4 mt-4">
                    <div class="bg-icon">
                        <img src="../../../assets/images/check.svg" alt="">
                    </div>
                    <p class="font-bold">TENHA MAIS TEMPO PARA FAZER SUA EMPRESA CRESCER</p>
                </div>
                <div class="flex align-items-center mb-4">
                    <div class="bg-icon">
                        <img src="../../../assets/images/check.svg" alt="">
                    </div>
                    <p class="font-bold">FACILITE A ROTINA FINANCEIRA DA SUA EMPRESA</p>
                </div>
                <div class="flex align-items-center">
                    <div class="bg-icon">
                        <img src="../../../assets/images/check.svg" alt="">
                    </div>
                    <p class="font-bold">COLOQUE OS COLABORADORES PARA OUTRAS ÁREAS ESSENCIAIS</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>