<div class="faq-section p-4">
    <div class="container content p-4">
        <div class="col-lg-6 faq-box">
            <div class="p-4">
                <p>Perguntas Frequentes (FAQ)</p>
                <hr>
                <div>
                    <p class="faq-titulo">
                        A Conta Aqui é um sistema?
                    </p>
                    <span>
                        Não, somos uma plataforma que oferece o BPO Financeiro, resultando em redução de gastos e aumento de lucro para nossos clientes.
                    </span>
                </div>
                <div>
                    <p class="faq-titulo">
                        Já tenho um sistema de gestão, isso pode atrapalhar?
                    </p>
                    <span>
                        Não, pois não usaremos ou solicitaremos acesso. O cliente pode manter outros sistemas de gestão à vontade.
                    </span>
                </div>
                <div>
                    <p class="faq-titulo">
                        A Conta Aqui irá movimentar minha conta bancária?
                    </p>
                    <span>
                        Não. Nosso acesso será feito por um usuário exclusivo, que poderá apenas visualizar e incluir operações, como agendamentos, por exemplo.
                    </span>
                </div>
                <div>
                    <p class="faq-titulo">
                        Como funciona a emissão de boletos e notas fiscais?
                    </p>
                    <span>
                        É só nos enviar os documentos necessários. A partir daí, cuidaremos de todo o processo, desde a emissão até o envio final ao seu cliente.
                    </span>
                </div>
                <div>
                    <p class="faq-titulo">
                        Se eu optar pelo cancelamento do serviço, pagarei alguma multa?
                    </p>
                    <span>
                        Não. Você pode solicitar o cancelamento a qualquer momento, sem pagamento de multa.
                    </span>
                </div>
            </div>
            <!-- <div class="faq-footer">
                <hr>
                <a href="">TODOS OS FAQS</a>
            </div> -->
        </div>
    </div>
</div>