<app-modal-form 
    *ngIf="response.toggleModal" 
    (closeEvent)="closeModal()" 
    [message]="response.message"
    [title]="response.title"
    [type]="response.type">
</app-modal-form>
<div>
    <div class="first-section">
        <div class="container content">
            <div class="col-lg-12 row m-0">
                <div class="col-lg-8">
                    <h1 class="text-white">
                        A gestão financeira da sua empresa com especialistas no assunto. Reduza custos e aumente seu lucro com o BPO Financeiro!
                    </h1>
                    <p class="text-white">Você vai diminuir seus gastos e conquistar benefícios, deixando o financeiro da sua empresa conosco, acompanhando todas as ações com informações detalhadas e em tempo real.</p>
                    <button class="btn-full-white" (click)="redirect('/como-funciona')">
                        QUERO SABER MAIS!
                    </button>
                </div>
                <div class="col-lg-4">
                    <div class="box">
                        <p>
                            Quero falar com um especialista e conhecer mais sobre o BPO Financeiro!
                        </p>
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" [(ngModel)]="name" [value]="name">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input matInput type="email" [(ngModel)]="email" [value]="email">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>WhatsApp</mat-label>
                            <input matInput type="tel" [(ngModel)]="tel" [value]="tel">
                        </mat-form-field>
                        <button class="btn-full-purple" style="padding: 10px 20px;" (click)="sendBody()">
                            FALAR COM UM ESPECIALISTA!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-section">
        <div class="container content">
            <div class="col-lg-12 row m-0">
                <div class="col-lg-8">
                    <h1>
                        BPO FINANCEIRO 
                    </h1>
                    <h2>
                        Transformamos fotos de contas, boletos, notas fiscais e outros documentos financeiros em pagamentos e relatórios, com informações em tempo real para seu acompanhamento e maior agilidade no processo de trabalho.
                    </h2>
                </div>
                <div class="col-lg-4">
                    <img src="../../../assets/images/Businessman.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="third-section">
        <div class="container content">
            <div class="col-lg-12 row m-0 align-items-center m-0">
                <div class="col-lg-7">
                    <p class="text-white">Deixe o estresse e a burocracia financeira com a gente, se dedicando às funções essenciais da sua empresa. Com o BPO Financeiro, você fica tranquilo e ganha um enorme tempo na sua rotina!</p>
                </div>
                <div class="col-lg-5 text-center">                    
                    <button class="btn-border-purple">
                        <a href="https://wa.me/551334683451" style="text-decoration: none">
                            FALE COM A GENTE NO WHATSAPP                                                    
                            <i class="fab fa-whatsapp icon-lg wpp ml-2"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="four-section">
        <div class="container content">
            <div class="col-lg-12 row m-0 m-0">
                <div class="col-lg-12">
                    <h1 class="text-center">É muito simples, veja!</h1>
                    <hr>
                    <p class="text-center">Automatize processos e mantenha o foco no crescimento da sua empresa. Estamos aqui para te ajudar com toda a burocracia e deixar você tranquilo para o que realmente precisa!</p>
                    <br>
                    <div class="box">
                        <div class="row m-4">
                            <div class="col-lg-2">
                                <i class="fas fa-camera icon-lg"></i>
                            </div>
                            <div class="col-lg-10">
                                <h3>Tire fotos dos documentos financeiros da sua empresa </h3> 
                                <p>É só tirar e nos enviar, o resto é por nossa conta. Iremos registrá-los na plataforma e você terá o controle de cada vencimento.</p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-lg-2">
                                <i class="fas fa-barcode icon-lg"></i>
                            </div>
                            <div class="col-lg-10">
                                <h3>Emitiremos seus boletos e notas fiscais </h3> 
                                <p>Nos envie os dados para realizarmos a emissão e o envio para os e-mails de seus clientes.</p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-lg-2">
                                <i class="fas fa-calendar-week icon-lg"></i>
                            </div>
                            <div class="col-lg-10">
                                <h3>Faça o acompanhamento diário de contas a pagar e a receber</h3> 
                                <p>As surpresas não farão mais parte da sua rotina. Com a nossa plataforma, você acompanha diariamente todas as contas a pagar e também o que você tem a receber de clientes.</p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-lg-2">
                                <i class="fas fa-university icon-lg"></i>
                            </div>
                            <div class="col-lg-10">
                                <h3>Agendaremos seus pagamentos no banco</h3> 
                                <p>Com um usuário exclusivo para agendamentos, realizaremos a inclusão dos boletos a pagar em sua conta bancária.</p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-lg-2">
                                <i class="fas fa-calendar-check icon-lg"></i>
                            </div>
                            <div class="col-lg-10">
                                <h3>Autorize os agendamentos realizados</h3> 
                                <p>Diariamente, informaremos quais são as suas contas a pagar e você irá apenas autorizar os agendamentos feitos pela nossa equipe.</p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-lg-2">
                                <i class="fas fa-chart-bar icon-lg"></i>
                            </div>
                            <div class="col-lg-10">
                                <h3>Acompanharemos a performance do seu negócio</h3> 
                                <p>Com o nosso relatório, você verá se teve lucro ou prejuízo, quais os destinos de todo o seu dinheiro e muitas outras informações, de forma completa e detalhada. Dessa maneira, você terá mais tempo para pensar em novos investimentos e mudanças na sua empresa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-depoiments></app-depoiments>
    <div class="six-section">
        <div class="container content">
            <div class="col-lg-12 row m-0">
                <div class="col-lg-4">
                    <h2>Tenha o controle total de toda a rotina financeira da sua empresa facilmente em suas mãos!</h2>
                    <p class="">Pare de perder tempo com burocracia e outras tarefas. Contrate o serviço de BPO Financeiro da Conta Aqui e deixe toda a gestão financeira da sua empresa conosco!</p>
                    <hr>
                    <button class="btn-full-purple">
                        QUERO SABER MAIS!
                    </button>
                </div>
                <div class="col-lg-8 row controls col-sm-12 m-0 justify-content-center">
                    <div class="col-lg-6 row">
                        <div class="col-lg-2 text-center p-0">
                            <div class="bg-img">
                                <img src="../../../assets/images/24-hour-service.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <p>Acesse em qualquer hora de qualquer lugar</p>
                            <span>Com o sistema da Conta Aqui, você pode acessar e conferir digitalmente tudo o que acontece com a rotina financeira da sua empresa, 24 horas por dia nos 7 dias da semana.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 row">
                        <div class="col-lg-2 text-center p-0">
                            <div class="bg-img">                                
                                <img src="../../../assets/images/dslr-camera.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <p>Facilite sua vida contábil</p>
                            <span>Envie ao seu contador as fotos dos registros financeiros e de todos os documentos contábeis, assim, você facilitará a sua vida e gastará bem menos tempo.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 row">
                        <div class="col-lg-2 text-center p-0">
                            <div class="bg-img">
                                <img src="../../../assets/images/finance.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <p>Controle diariamente a rotina financeira da sua empresa</p>
                            <span>Contas atrasadas? Clientes inadimplentes? Excesso de gastos em alguma área? De forma prática e rápida, você fica por dentro de tudo que está acontecendo na rotina financeira da sua empresa.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 row">
                        <div class="col-lg-2 text-center p-0">
                            <div class="bg-img">
                                <img src="../../../assets/images/gestao.svg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <p>Dê atenção ao que realmente importa</p>
                            <span>Pare de perder tempo com burocracia e outras tarefas. Deixe você e seus colaboradores focados no crescimento da sua empresa, enquanto a Conta Aqui faz todo o serviço de gestão financeira para deixar você tranquilo.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-faq></app-faq>
    <app-contact></app-contact>
</div>
<app-footer></app-footer>
