<div class="bg-purple first-section p-4">
    <div class="container content p-4">
        <h1 class="text-white">Escolha o plano que mais se adequa à sua empresa!</h1>
        <p class="text-white">Na Conta Aqui, oferecemos diferentes planos para atender diversas realidades empresariais. Mas todos eles possuem a mesma qualidade no serviço e atendimento, proporcionando uma redução de gastos e aumento de lucro para a sua empresa.</p>
    </div>
</div>
<div class="second-section p-4">
    <div class="container content p-4">
        <div class="row m-0">
            <div class="col-lg-12 mb-4">
                <h1 class="text-center mb-4">O que a Conta Aqui fará por você:</h1>
                <hr>
            </div>
            <div class="col-lg-12 row p-0 text-center mt-4">
                <div class="col-lg-3">
                    <i class="fas fa-money-bill-alt icon-md"></i>
                    <p class="font-bold mb-2 mt-2">CONTAS A PAGAR</p>
                    <span>Lembramos você de todas as contas a pagar, com uma visão completa dos próximos vencimentos.</span>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-credit-card icon-md"></i>
                    <p class="font-bold mb-2 mt-2">CONTAS A RECEBER</p>
                    <span>Monitoramos diariamente o controle de seus recebimentos, cobranças, cartão de crédito ou programações.</span>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-file-invoice-dollar icon-md"></i>
                    <p class="font-bold mb-2 mt-2">CONCILIAÇÃO BANCÁRIA</p>
                    <span>Importamos os lançamentos do seu extrato automaticamente e mantemos seu fluxo de caixa em dia.</span>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-barcode icon-md"></i>
                    <p class="font-bold mb-2 mt-2">NOTAS FISCAIS ELETRÔNICAS</p>
                    <span>Emitimos as notas fiscais eletrônicas e enviamos aos seus clientes por e-mail.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="second-section p-4">
    <div class="container content p-4">
        <div class="row m-0">
            <div class="col-lg-12 mb-4">
                <h1 class="text-center mb-4">Além disso, você terá acesso a diversos <br> relatórios e análises gerenciais, como:</h1>
                <hr>
            </div>
            <div class="col-lg-12 row p-0 text-center mt-4 mb-4">
                <div class="col-lg-3">
                    <i class="fas fa-chart-pie icon-md"></i>
                    <p class="font-bold mb-2 mt-2">DRE FINANCEIRA</p>
                    <span>Relatório de receitas, custos e despesas, para você entender com clareza como anda a saúde do seu negócio.</span>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-thumbs-down icon-md"></i>
                    <p class="font-bold mb-2 mt-2">RELATÓRIO DE CLIENTES INADIMPLENTES</p>
                    <span>Seus clientes receberão lembretes de faturas em aberto, além de você contar com uma visão completa dos inadimplentes.</span>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-file icon-md"></i>
                    <p class="font-bold mb-2 mt-2">RELATÓRIO DE CONTAS ATRASADAS</p>
                    <span>Relatório de despesas por centro de custos e plano de contas, sabendo o que pagar ou não em determinada data, para melhor tomada de decisão.</span>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-file-invoice icon-md"></i>
                    <p class="font-bold mb-2 mt-2">RELATÓRIO DE ANÁLISE DE PAGAMENTOS</p>
                    <span>Relatório de custos e pagamentos com informações em tempo real, para você ver para onde está indo seu dinheiro.</span>
                </div>
            </div>
            <div class="col-lg-12 row p-0 text-center mt-4">
                <div class="col-lg-4">
                    <p class="box bg-purple text-white p-2">
                        <strong>PLANO MICRO EMPRESA</strong> <br>
                        <span class="font-sm">PARA POUCAS MOVIMENTAÇÕES FINANCEIRAS</span>
                    </p>
                    <div class="text-center plans">
                        <p>Gerente de contas exclusivo</p>
                        <p>Gestão de contas a pagar e a receber</p>
                        <p>Gestão do fluxo de caixa</p>
                        <p>Concialação bancária</p>
                        <p>Emissão e envio de boletos</p>
                        <p>Emissão de Nota Fiscal Eletrônica de Produto ou Serviço</p>
                        <p>Vídeo Semanal sobre a situação financeira</p>
                        <p>Acompanhamento mensal da performance financeira (visão geral)</p>
                        <p>Agendamentos de pagamentos no Internet Banking</p>
                    </div>
                    <br>
                    <button class="btn-full-purple">
                        CONSULTAR PREÇO
                    </button>
                </div>
                <div class="col-lg-4">
                    <p class="box bg-purple text-white p-2">
                        <strong>PLANO MÉDIO EMPRESA</strong> <br>
                        <span class="font-sm">EMPRESAS COM OPERAÇÕES MEDIANAS</span>
                    </p>
                    <div class="text-center plans">
                        <p>Gerente de contas exclusivo</p>
                        <p>Gestão de contas a pagar e a receber</p>
                        <p>Gestão do fluxo de caixa</p>
                        <p>Concialação bancária</p>
                        <p>Emissão e envio de boletos</p>
                        <p>Emissão de Nota Fiscal Eletrônica de Produto ou Serviço</p>
                        <p>Vídeo Semanal sobre a situação financeira</p>
                        <p>Acompanhamento mensal da performance financeira (visão geral)</p>
                        <p>Agendamentos de pagamentos no Internet Banking</p>
                    </div>
                    <br>
                    <button class="btn-full-purple">
                        CONSULTAR PREÇO
                    </button>
                </div>
                <div class="col-lg-4">
                    <p class="box bg-purple text-white p-2">
                        <strong>PERSONALIZADO</strong> <br>
                        <span class="font-sm">IDEAL PARA OPERAÇÕES MAIS ROBUSTAS</span>
                    </p>
                    <div class="text-center plans">
                        <p>Gerente de contas exclusivo</p>
                        <p>Gestão de contas a pagar e a receber</p>
                        <p>Gestão do fluxo de caixa</p>
                        <p>Concialação bancária</p>
                        <p>Emissão e envio de boletos</p>
                        <p>Emissão de Nota Fiscal Eletrônica de Produto ou Serviço</p>
                        <p>Vídeo Semanal sobre a situação financeira</p>
                        <p>Acompanhamento mensal da performance financeira (visão geral)</p>
                        <p>Agendamentos de pagamentos no Internet Banking</p>
                    </div>
                    <br>
                    <button class="btn-full-purple">
                        CONSULTAR PREÇO
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="third-section bg-purple p-4">
    <div class="container content p-4">
        <div class="col-lg-12 row m-0">
            <div class="col-lg-8">
                <span class="text-white">
                    Reduza seus custos, tenha mais benefícios e aumente seu tempo para fazer sua empresa crescer. Veja o que a Conta Aqui pode fazer por você!
                </span>
            </div>
            <div class="col-lg-4 text-center flex align-items-center justify-content-center">
                <button class="btn-border-purple">
                    FALE COM UM CONSULTOR!
                </button>
            </div>
        </div>
    </div>
</div>
<div class="four-section">
    <div class="container content p-0 pr-4 pl-4">
        <div class="row ml-0">
            <div class="col-lg-6 p-4">
                <h3>Mais vantagens pra você!</h3>
                <p>A gente resolve a parte burocrática e deixa você relaxado!</p>
                <div class="row mt-4">
                    <div class="col-lg-6 flex flex-list">
                        <i class="fas fa-circle"></i>
                        <div>                            
                            <p>TIME DE ESPECIALISTAS</p>
                            <span>Nossa equipe de especialistas irá realizar a conciliação bancária e a classificação de todas as transações, automatizando no plano de contas de cada empresa.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 flex flex-list">
                        <i class="fas fa-circle"></i>
                        <div>                            
                            <p>INTEGRAÇÃO CONTÁBIL</p>
                            <span>Os parceiros que indicarem clientes à Conta Aqui, receberão ao final de cada mês, um arquivo pronto elaborado por uma equipe de contadores experientes para importação em seu sistema contábil.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 flex flex-list">
                        <i class="fas fa-circle"></i>
                        <div>                            
                            <p>COMPARTILHAMENTO DE DOCUMENTOS CONTÁBEIS</p>
                            <span>Compartilharemos com o seu contador todos os documentos contábeis em PDF, utilizados na movimentação mensal da sua empresa.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 flex align-items-center justify-content-center">
                        <button class="btn-full-purple">MAIS INFORMAÇÕES</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 flex align-items-center justify-content-center">
                <div>
                    <img style="height: 100%;" src="../../../assets/images/job-notebook.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>