.icon-md{
    color: #71388D;
    font-size: 2.5em;
}

.font-sm{
    font-size: 12px;
}

.plans p{
    margin: 15px 0;
}

.flex-list{
    i{
        color: #71388D;
    }
    div{
        padding: 0 10px 10px 10px;
        margin-top: -5px;
        p{
            font-weight: bold;
            font-size: 15px;
        }
        span{
            font-size: 14px;
        }
    }
}

.second-section{
    @media screen and (max-width: 875px){
        button{
            margin-bottom: 20px;
        }
    }
    .row{
        justify-content: center;
    }
}

.third-section{
    @media screen and (max-width: 875px){
        button{
            margin-top: 20px;
        }
    }
}

.header-table{
    background-color: black;
    color: white;
    padding: 10px;
}