<div class="bg-purple first-section p-4">
    <div class="container content p-4">
        <h1>Sobre Nós</h1>
        <p>A empresa feita para cuidar da sua saúde financeira!</p>
    </div>
</div>
<div class="second-section p-4">
    <div class="container content p-4">
        <div class="row m-0">
            <div class="col-lg-6">
                <span>
                    A Conta Aqui nasceu do sonho de transformar a realidade financeira de diversas empresas e instituições. 
                    <br><br>
                    De origem contábil, fundada por uma família de contadores e que já possuíam uma contabilidade (José Alves Contabilidade), a Conta Aqui surgiu a partir da percepção que muitas das empresas que iniciam suas operações não completam 2, 5 ou 10 anos de vida, indo à falência antes disso. 
                    <br><br>
                    E o principal motivo disso é a falta de gestão financeira. Desde pequenos, não somos ensinados a economizar, poupar ou guardar dinheiro. Não há ensino sobre finanças nas escolas do Brasil, o que reflete no futuro, atrapalhando a vida de muitos empreendedores.
                </span>
            </div>
            <div class="col-lg-6">
                <img src="../../../assets/images/sobre-nos.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="bg-purple third-section p-4">
    <div class="container content p-4">
        <div class="row text-center m-0">
            <div class="col-lg-4">
                <img src="../../../assets/images/missao.svg" alt="">
                <div>
                    <p>MISSÃO</p>
                    <span>Transformar a realidade financeira de pequenas, médias e grandes empresas.</span>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../../../assets/images/portfolio.svg" alt="">
                <div>
                    <p>VISÃO</p>
                    <span>Tornar comum a prática do serviço de BPO Financeiro nas empresas, atendendo clientes de todos os estados do Brasil.</span>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../../../assets/images/shield.svg" alt="">
                <div>
                    <p>VALORES</p>
                    <div class="flex" style="justify-content: center;">                        
                        <span>- Inovação;<br> - Ética;<br> - Comprometimento;<br> - Organização;</span>
                        <span>- Desenvolvimento;<br>  - Responsabilidade;<br>  - Fidelização;<br>  - Parceria.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="four-section p-4">
    <div class="container content p-4">
        <div class="col-lg-12 row m-0 align-items-center">
            <div class="col-lg-7">
                <p class="text-white">Reduza seus custos, tenha mais benefícios e aumente seu tempo para fazer sua empresa crescer. Veja o que a Conta Aqui pode fazer por você!</p>
            </div>
            <div class="col-lg-5 text-center">          
                <button class="btn-border-purple">
                    <a href="https://wa.me/551334683451" style="text-decoration: none">
                        FALE COM A GENTE NO WHATSAPP                                                    
                        <i class="fab fa-whatsapp icon-lg wpp ml-2"></i>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>